magento_data/
com.bitnami.magento/
!rootfs/root/.nami/components/com.bitnami.magento
data/magento/htdocs/*/*/
data/magento/htdocs/var/.*
data/magento/.initialized
!data/magento/htdocs/frontools/config/.gitkeep
!data/magento/htdocs/app/code/*/
data/mariadb/data/*
